<pt-background-video></pt-background-video>

<div class="container" style="height: 100vh;  min-height:700px;">
    <pt-section-one></pt-section-one>


</div>
<div class="container-fluid">
    <pt-prices></pt-prices>
</div>

<div class="container-fluid">
    <pt-about></pt-about>
</div>

<div class="container-fluid">
    <pt-testimonial></pt-testimonial>
</div>

<div class="container-fluid">
    <pt-services></pt-services>
</div>



<div class="container-fluid">
    <pt-contact></pt-contact>
</div>