<div class="row about-container">
    <div class="col-lg-6 img-background-color hidden-xs  hidden-sm hidden-md">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 img-container">
                <img class="portrait-img col-sm-hidden" src="../../assets/images/portrait.png" />
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0 col-lg-6 col-lg-offset-0 information">
        <h1>
            ABOUT ME
        </h1>
        <h3>
            <i>
                "Guaranteed Results On Helping You Achieve Your Realistic Health and Fitness Goals"
            </i>
        </h3>
        <p>
            Personal Training is something I have always had a huge passion and desire for, every since I was studying my BTEC National Diploma in Sports and Exercise Science, which left me to continue my studies to continually learn and increase my knowledge, to offer the best service possible.
        </p>
    </div>
</div>