.contact-container {
    padding: 50px;
    min-height: 100px;
    background-color: #2b153c;
    box-sizing: border-box;
    text-align: center;
    color:white;

    span {
        font-size: 25px;
    }
}
