<div class="row contact-container">
    <div class="col-md-6 col-lg-3">
        <span>
            <i class="fa fa-map-marker fa-3" aria-hidden="true"></i>
        </span>
        Bassetlaw
    </div>
    <div class="col-md-6 col-lg-3">
        <span>
            <i class="fa fa-phone-square fa-3" aria-hidden="true"></i>
        </span>
        07852 570852
    </div>
    <div class="col-md-6 col-lg-3">
        <span>
            <i class="fa fa-envelope-o fa-3" aria-hidden="true"></i>
        </span>
        paullanept@gmail.com
    </div>
    <div class="col-md-6 col-lg-3">
        <span>
            <i class="fa fa-facebook-official fa-3" aria-hidden="true"></i>
        </span>
        PaulLanePT
    </div>
</div>