.price-container {
    min-height: 400px;
    background-color: #111;
    padding: 75px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 17px 2px black;
}

.price-info-container {
    height: 300px;
    width: 100%;
    background-color: #141414;
    box-shadow: 0px 0px 10px 2px black;
    margin-bottom: 50px;


    .title {
        min-height: 60px;
        text-align: center;
        font-family: Impact, Arial;
        font-size: 25px;
        padding: 20px;
        box-sizing: border-box;
        color: white;

        h2 {
            margin: 0;
            font-size: 20px;
            letter-spacing: 3px;
        }
    }

    .price {
        height: 150px;
        padding: 25px;
        font-size: 100px;
        text-align: center;
        font-family: Arial;
        color: white;

        .symbol {
            width: 30%;
            height: 100%;
            font-size: 40px;
            float: left;
            padding-top: 13px;
            text-align: right;
        }

        .cost {
            width: 70%;
            height: 100%;
            font-size: 70px;
            float: left;
            text-align: left;
        }

        span {
            font-size: 14px;
            color: #999;
        }
    }

    .price-continue {
        width: 100%;
        height: 100px;
        padding: 10px;
        text-align: center;
        color: #999;
        font-style: italic;
    }
}

.price-info-container:last-child {
    margin-bottom: 0;
}


button {
    background-color: #2B153C;
    border: none;
    border-bottom: 8px solid #190c23;
    border-radius: 5px;
    color: white !important;
    display: inline-block;
    font-size: 20px !important;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height:100%;
    font-family: Impact, Arial !important;
}

button:hover {
    margin-top:6px;
     border-bottom: 2px solid #190c23;
}

button:active {
    opacity:.5;
}

