

.services-container {
    min-height: 600px;
    padding: 75px;
    background-image: url("../../assets/images/training.jpg");
    background-position: center;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 17px 2px black;

    .services-info-container {
        min-height: 550px;
        background-color: rgba(0, 0, 0, 0.3);

        img {
            height: 100%;
            width: auto;
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
        }

        .title-img {
            padding: 20px;
            text-align: center;
            height: 150px;
            width: auto;
            box-sizing: border-box;
        }

        .title {
            height: 100px;
            padding: 25px;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            text-shadow: 0 21px 21px #000000;

            h2 {
                color: white;
                margin: 0;
                font-family: Impact, Arial;
                font-size: 25px;
            }
        }

        .content {
            padding: 0 25px;
            box-sizing: border-box;
            text-align: center;
            font-family: cambria;
            font-size: 18px;
            color: white;
        }
    }
}
