

<div class="row services-container">
    <div class="col-lg-4 ">
        <div class="services-info-container">
            <div class="title-img">
                <img src="../../assets/images/food.png"/>
            </div>
                <div class="title">
                    <h2>
                        Diet Plans
                    </h2>
                </div>
                <div class="content">
                    <p>
                        Constructed nutrition plans designed specifically to help you reach your health and fitness goals. These diet plans enable you to prepare your daily meal plans for a weekly basis, going through all three main meals of the day down to your varied snack intake throughout each week. We will go through all of your calorie intake and nutritional needs and design you a nutritional plan that best suits you and your specific life style.
                    </p>
                </div>
            </div>
    </div>
    <div class="col-lg-4">
        <div class="services-info-container">
            <div class="title-img">
                <img src="../../assets/images/stop-watch.png" />
            </div>
            <div class="title">
                <h2>
                    Personal Training
                </h2>
            </div>
            <div class="content">
                <p>
                    We offer a variety of different training block packages to suit your needs and to also help you save money where possible. There are individual 1-2-1 session costs all the way through to 5, 10, 15 and 20 block packages available, so don't miss out on these. Two client and three client sessions are available too, these are also available in block booking packages so your not missing out on a discount to your session costs. Group personal training is also available on set days which makes personal training more affordable for everyone, whilst also achieving the same similar benefits from 1-2-1 sessions.

                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="services-info-container">
            <div class="title-img">
                <img src="../../assets/images/incense.png" />
            </div>
            <div class="title">
                <h2>
                    Sports Massage
                </h2>
            </div>
            <div class="content">
                <p>
                    Sports massage therapy is available upon request too and is currently on a discounted rate up until the end of January. This service can be used for general maintenance of your bodies daily physical challenges or also for sports rehab work for injuries and sports performance. Highly recommended for those who train frequently on a weekly basis as sports massage can be utilised as a form of injury preventative treatment. Helps maintain good health of muscles and connective tissues, range of movement and progressional improvements and maintenance of body posture.
                </p>
            </div>
        </div>
    </div>
</div>